requests>=2.22.0
matplotlib>=3.1.2
geographiclib>=1.50
overpy>=0.4
pillow>=10.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
